.app__body{
  background-color: #f6f6f6;
  width: 90vw;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0,0,0.15);
  display: grid;
  place-items: center;
  overflow: auto; 
}
.app{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.app__body > button{
  width: 100px;
  height: 32px;
  background-color: blue;
  color: white;
}
.app__body > button:hover{
  color: gray;
  background-color:lightskyblue
}