/* .signup{
    background-color: #f6f6f6;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0,0,0.15);
    display: grid;
    place-items: center;
} */
.signup > h3{
    font-weight: 100;
}

.signup > form{
    margin-top: -200px;
    display: flex;
    flex-direction: column;

}
.signup > form  input{
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    width:15vw;
}
.signup > form > div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}